@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h1 class="heading hero-heading" data-aos="fade-up">
    Discover your place in Egypt's real estate future.
</h1>